<div class="mt-4">
    <h2>{{title}}</h2>
    <hr>
    <div class="row">
        <div class="col-md-12 py-4">
            <div class="row">
                <div class="col-md-6">
                    <h3>ngClass</h3>
                    <input id="chb" type="checkbox" (change)="colorCheck = !colorCheck" /> Cambiar color
                    <br>
                    <input id="chb" type="checkbox" (change)="tamanoCheck = !tamanoCheck" /> Cambiar tamaño
                    <br><br>
                    <div class="cuadrado" [ngClass]="{ secundario: colorCheck }"></div>
                    <br><br>

                    <div class="cuadrado" [ngClass]="{ 'secundario': colorCheck, 'cuadrado-grande': tamanoCheck }"></div>
                </div>

                <div class="col-md-6">
                    <h3>ngStyle</h3>
                    <input type="number" (input)="anchuraAltura = $event.target.value" value="100" /> Cambiar tamaño
                    <br><br>

                    <div class="cuadrado" [ngStyle]="{ 'background-color': colorCheck ? 'blue' : 'red', 'width': anchuraAltura + 'px', 
              'height': anchuraAltura + 'px' }"></div>
                </div>

            </div>
        </div>
    </div>
</div>